* {
    text-decoration: none;
    font-family: "Sora", sans-serif;
    list-style: none;
    margin: 0;
}

body {
    background-color: #070E27;
}

header {
    border-bottom: 1px solid rgba(78, 90, 133, 0.2);
    display: flex;
    justify-content: center;
}

.header__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1280px;
    padding: 36px 80px;
}

.header__logo {
    display: flex;
    align-items: center;
}

.header__logo-name {
    color: #fff;
    font-weight: 600;
    font-size: 24px;
    padding-left: 12px;
}

.header__btn--login {
    color: #fff;
    padding: 16px 24px;
    border-radius: 8px;
    background-color: #0059F7;
    border: none;
    transition: 0.2s ease-in;
}

.header__btn--login:hover {
    background-color: #162044;
}

.hero__title-text {
    font-size: 64px;
    font-weight: 700;
    color: #fff;
    max-width: 456px;
}

.hero__title {
    padding-right: 194px;
}

.hero__info {
    display: flex;
    align-items: center;
    max-width: 1060px;
    justify-content: space-around;
    padding: 45px 0 72px 0;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero__description-text {
    font-size: 20px;
    font-weight: 400;
    color: #7E8BB6;
    max-width: 410px;
    padding: 32px 0 32px 0;
    line-height: 32px;
}

.hero__btn--pricing {
    background-color: #0059F7;
    padding: 16px 24px;
    color: #fff;
    border: none;
    border-radius: 8px;
    transition: 0.2s ease-in;
    margin-bottom: 30px;
}

.hero__btn--pricing:hover {
    background-color: #162044;
}

.hero__companies {
    display: flex;
    align-items: center;
    padding: 97px 0 97px 0;
    width: 1080px;
    justify-content: center;
    border-bottom: 1px solid rgba(78, 90, 133, 0.2);
}

.hero__companies > img:not(:last-child) {
    padding-right: 107px;
}

.features__title {
    font-size: 48px;
    color: #fff;
    font-weight: 600;
}

.features__desc {
    color: #7E8BB6;
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 32px;
    padding-top: 16px;
}

.features {
    max-width: 840px;
    margin: 0 auto;
    padding-top: 96px;
    padding-bottom: 148px;
}

.features__card > svg {
    width: 48px;
    height: 48px;
    fill: #7E8BB6;
    padding: 0;
    margin: 0;
}

.features__card-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0 0 96px 0;
    margin: 0;
    gap: 40px 32px;
}

.features__card {
    background-color: #070E27;
    border: 1px solid #162044;
    border-radius: 16px;
    padding: 32px;
    max-width: 400px;
    transition: 0.5s ease-in;
}

.features__card-title {
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    padding: 32px 0 16px 0;
}

.features__card-desc {
    max-width: 336px;
    color: #CCD2E9;
}

.features__card:hover {
    background-color: #081131;
}

.cta {
    background-color: #0059F7;
    border-radius: 24px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 72px 0 72px 0;
}

.cta__subtext {
    font-size: 20px;
    color: #fff;
    opacity: 0.5;
    padding-bottom: 16px;
}

.cta__heading {
    font-weight: 600;
    font-size: 38px;
    color: #fff;
    padding-bottom: 32px;
}

.cta__btn {
    color: #fff;
    fill: #fff;
    padding: 20px 24px;
    border-radius: 8px;
    background-color: #689EFF;
    border: none;
    display: flex;
    align-items: center;
    transition: 0.3s ease-in;
}

.cta__btn > svg {
    padding-left: 10px;
}

.cta__btn:hover {
    transform: scale(1.1);
}

.how-it-works {
    max-width: 1060px;
    margin: 0 auto;
}

.how-it-works__subheading {
    font-size: 20px;
    font-weight: 500;
    color: #7E8BB6;
    text-align: center;
}

.how-it-works__heading {
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    color: #fff;
    padding-bottom: 95px;
}

.how-it-works__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1060px;
}

.how-it-works__item:not(:last-child) {
    padding-bottom: 96px;
}

.how-it-works__desc > h3 {
    font-size: 36px;
    font-weight: 600;
    color: #fff;
}

.how-it-works__desc > p {
    color: #7E8BB6;
    max-width: 400px;
    font-weight: 400;
    font-size: 20px;
}

.how-it-works__image {
    max-width: 550px;
}

.how-it-works__list {
    padding-bottom: 172px;
}

.pricing__btn--subscribe {
    background-color: #4E5A85;
    color: #fff;
    fill: #fff;
    padding: 20px 24px;
    border-radius: 8px;
    border: none;
    display: flex;
    align-items: center;
    transition: 0.3s ease-in;
}

.pricing__btn--subscribe > svg {
    padding-left: 10px;
}

.pricing__btn--subscribe:hover {
    transform: scale(1);
    background-color: #0059F7;
}

.pricing__item {
    background-color: #081131;
    width: 310px;
    border-radius: 16px;
    padding: 45px;
    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.pricing__type-label {
    color: #7E8BB6;
    font-weight: 500;
    font-size: 20px;
}

.pricing__cost {
    font-size: 56px;
    font-weight: 600;
    color: #fff;
    padding-top: 12px;
    padding-bottom: 48px;
}

.pricing__dollar {
    color: #4E5A85;
}

.pricing__type {
    border-bottom: 1px solid #4E5A85;
}

.pricing__features-item {
    display: flex;
    color: #fff;
    align-items: center;
}

.pricing__features-item > p {
    color: #CCD2E9;
    font-size: 16px;
    padding-left: 12px;
}

.pricing__features-list {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 48px 0;
    gap: 24px;
}

.pricing__list {
    display: flex;
    gap: 40px;
}

.pricing__wrapper {
    display: flex;
    justify-content: center;
}

.pricing__item:hover {
    background-color: #162044;
    transform: translate(0, -80px);
}

.pricing__heading {
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    color: #fff;
    padding-bottom: 176px;
}

.pricing__subheading {
    font-size: 20px;
    font-weight: 500;
    color: #7E8BB6;
    text-align: center;
}

.pricing {
    padding-bottom: 172px;
}

.cta--banner {
    background-color: #0059F7;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 52px 56px;
    max-width: 1060px;
    margin: 0 auto;
    margin-bottom: 132px;
}

.cta--banner__subtext {
    font-size: 14px;
    color: #fff;
    opacity: 0.5;
    padding-bottom: 16px;
}

.cta--banner__heading {
    font-weight: 600;
    font-size: 36px;
    color: #fff;
    padding-bottom: 32px;
}

.cta--banner__btn {
    color: #fff;
    fill: #fff;
    padding: 20px 24px;
    border-radius: 8px;
    background-color: #689EFF;
    border: none;
    display: flex;
    align-items: center;
    transition: 0.3s ease-in;
}

.cta--banner__btn > svg {
    padding-left: 10px;
}

.cta--banner__btn:hover {
    transform: scale(1.1);
}

.cta--banner__text {
    max-height: 72px;
}

footer {
    background-color: #162044;
    display: flex;
    justify-content: center;
}

.footer__wrap {
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1172px;
}

.footer__icon {
    display: flex;
    fill: #CCD2E9;
    max-width: 20px;
    max-height: 20px;
}

.footer__icons-list {
    display: flex;
    gap: 40px;
}

.footer__policy {
    display: flex;
    gap: 24px;
    color: #CCD2E9;
}

.footer__rights {
    color: #CCD2E9;
}
